* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    background-image: url(https://habrastorage.org/r/w780/webt/pa/ic/eo/paiceoqqd1rlzpzdvilwezargmc.jpeg);
    background-size: contain;
    background-position: center;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box {
    width: 400px;
    height: 400px;

    background-image: linear-gradient(to bottom right,purple,brown);
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first {
    width: 200px;
    height: 200px;
    min-width: 100px;
    min-height: 100px;

    background-image: linear-gradient(to bottom left, yellow,blue);
    border-radius: 10px;
    border: 3px solid black;

    padding: 10px;
    margin: 15px;

    box-sizing: border-box;

    color: white;
    font-family: monospace;
    font-weight: 700;
    font-size: 14px;
}

.second {
    width: 200px;
    height: 200px;
    min-width: 100px;
    min-height: 100px;

    background-image: url(./images/dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 10px;
    border: 3px solid black;

    padding: 10px;
    margin: 15px;

    box-sizing: border-box;

    color: black;
    font-family: monospace;
    font-weight: 700;
    font-size: 14px;
}